/* Definindo a imagem de fundo para o body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/Fundo_cabeçalho.jpg'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Deixa a imagem fixa durante o rolar da página */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo com transparência para o cabeçalho */
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

.projeto img {
    max-width: 50%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
